<div class="info">
	<div class="get-in-touch">
		<h3 class="title">Get In Touch</h3>
		<p>Help Desk is available 24x7 for your service. The office
			follows the following time table. Ut wisi enim ad minim veniam, quis
			nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip.
		</p>
		<ul class="work-hours">
			<li>Mon - Fri: 10am to 5pm</li>
			<li>Sat - Sun: 10am to 2pm</li>
		</ul>
	</div>
	<div class="information">
		<h3 class="title">About</h3>
		<p>Lorem ipsum dolor sit amet, cu inani facilis est, mei inermis
			facilisi referrentur ut, modo splendide duo an. Dolorem adolescens
			omittantur id nam, ad inani detracto disputando duo. Erant
			delicatissimi in qui.</p>
	</div>
	<div class="social">
		<h3 class="title">Social</h3>
		<ul>
			<li><a><i class="fa fa-facebook"></i><span>Facebook</span></a></li>
			<li><a><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
			<li><a><i class="fa fa-google-plus"></i><span>Google</span></a></li>
			<li><a><i class="fa fa-github"></i><span>GitHub</span></a></li>
		</ul>
	</div>
	<div class="contacts">
		<h3 class="title">Contact us</h3>
		<address>
			<i class="fa fa-building-o"></i><span>John Terry Industrial
				Authority Capitus Trisul No. 1245 Capital Federal USA</span>
		</address>
		<div class="phone">
			<a href="tel:"><i class="fa fa-phone"></i><span>(012)
					123-4567-890</span></a>
		</div>
		<div class="email">
			<a href="mailto:"><i class="fa fa-envelope-o"></i><span>info@sample.com</span></a>
		</div>
	</div>
</div>
<div class="copyright">
	<small>&copy; 2015 Geppetto. All rights reserved.</small>
</div>