<div class="projects" style="min-height: 350px;">
	<div class="add">
		<button class="btn complete" (click)="addNewCampaign()">
			<i class="fa fa-plus-circle"></i> <span>Add Campaign</span>
		</button>		
    </div>

    
     <ul>
		<li *ngFor="let campaign of campaignsList"
			id="{{campaign.campaignSno}}">
			<h3 class="title lead">{{campaign.campaignTitle}}</h3>
			<h4 class="label">{{campaign.campaignLabel}}</h4>
			<p class="description">{{campaign.campaignDescription}}</p>
			<div class="action">
				<button class="btn success edit"
					(click)="editExistingCampaign(campaign.campaignSno)">
					<i class="fa fa-pencil-square-o"></i> <span>Edit</span>
				</button>
				<button class="btn danger delete"
				 (click)="openDeleteDialog(campaign.campaignSno)" >
					<i class="fa fa-trash-o"></i> <span>Delete</span>
				</button>


			</div>
		</li>
	</ul> 

</div>


        <!-- This is for Delete Confirmation -->


 <modal  #mail>
        <modal-header [show-close]="true">
            <h4 class="modal-title">Alert</h4>
        </modal-header>
        
        <modal-body>
           <p> Do u Want To delete ? </p>    
        </modal-body>
        
        <modal-footer >
        <button type="button" class="btn btn-primary" (click)="deletingCampaign()">Delete</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>

        </modal-footer>
 </modal>
       
              <!-- This is for after deletion -->

 <modal  #mail1>
        <modal-header [show-close]="true">
            <h4 class="modal-title">Alert</h4>
        </modal-header>
        
        <modal-body>
           <p> {{message}} </p>    
        </modal-body>
        
        <modal-footer >
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Ok</button>
        </modal-footer>
 </modal>


            